
/* wall2 detail view */

.wall2-photo {
  width: 100%;
  margin: -2rem 0rem 0rem -2rem;
  padding: 2rem;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}
.wall2-photo:hover {
  transform: scale(1.05);
}
.wall2-h2 {
  font-family: 'Helvetica Neue';
  color: #222;
  font-size: 32px;
  font-weight: 400;
  margin: -2rem 0rem 0rem -2rem;
  padding: 2rem;
}
.wall2-h3 {
  font-family: 'Helvetica Neue';
  font-size: 1rem;
}
.wall2-p {
  font-family: 'Segoe UI';
  font-size: 16px;
}
.wall2-ul {
  font-family: 'Segoe UI';
  font-size: 16px;
  padding-inline-start: 1.4rem;
}
.wall2-li {
  margin-bottom: .2rem;
  list-style-type: square;
}